@import url('https://googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@font-face {
    font-family: 'Pixel-art-font'; /* Nome da fonte personalizada */
    src: url('/fonts/lunchds.ttf') format('truetype'); /* Caminho para a fonte e formato */
    /* Outras propriedades opcionais, como font-weight e font-style, podem ser definidas aqui */
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pixel-art-font', sans-serif;
    scroll-behavior: smooth;
    
}
body{
    min-height: 100vh;
    background:linear-gradient(#5B7496,#5B7496) ;
    overflow-x: hidden;

}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px 0px 3vh;
    font-size: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .logo{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 5px 13px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover, 
header ul li a.active{
    outline: solid 2px #fff;
}
section {
    width: 100%;
    height: 260vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    bottom: 0;
}

section img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%; /* Define a altura para que a imagem mantenha a proporção */
    object-fit: cover;

}


#btw{
    position: static;
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    outline: solid #fff;
    color: #ffffff;
    font-size:3.5vh;
    z-index: 9;
    transform: translateY(-50vh);
    align-items: center;

}
.sec{
    z-index:12;
    position: relative;
    padding:100px;
    background: #FDD69F;
}
.sec h2{
    text-align: center;
    font-size: 3.4em;
    margin-bottom: 10px;
    color: #BD746D;
}

.sec p{
    white-space: pre-line;
    line-height: 1.3cm;
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-top: 50px;
    text-align: center;
    color: #BD746D;

}